<!--@POSTPROC: ./postproc.sh-->
<module>

<rels>
  <RelationshipElement name="TransectSUI">
    <description>Defines relationship between Transect and Survey Unit</description>
  </RelationshipElement>
</rels>

<Login f="nodata">
  <User_List f="noscroll">
    <Users f="nolabel user" l="Control"/>
  </User_List>
</Login>

<Control f="nodata">
  <Control f="noscroll">
    <New_Feature l="Feature"/>
    <New_Photolog l="Photolog"/>
    <List_of_Existing_Features e="Feature"/>
  </Control>
  <Defaults>
    <autonum/>
  </Defaults>
  <Tracklog>
    <internalExternalGPS t="radio">
      Choose which GPS to connect to:
      <opts>
        <opt>Internal</opt>
        <opt>External</opt>
      </opts>
    </internalExternalGPS>
    <cols>
      <col>
        <refreshText b="decimal">
          GPS Refresh Rate (s)
        </refreshText>
      </col>
      <col>
        <startGPSButton t="button">Enable GPS</startGPSButton>
        <stopGPSButton  t="button">Disable GPS</stopGPSButton>
      </col>
    </cols>
    <cols>
      <trackdistText b="decimal">Tracklog Distance Interval (m)</trackdistText>
      <trackdistButton t="button">Enable Tracklog and Set Distance Interval</trackdistButton>
    </cols>
    <cols>
      <tracktimeText b="decimal">Tracklog Time interval (s)</tracktimeText>
      <tracktimeButton t="button">Enable Tracklog and Set Time Interval</tracktimeButton>
    </cols>
    <trackOffButton t="button">Tracklog Off</trackOffButton>
    <trackStatus f="readonly" b="string">Tracklog Status</trackStatus>
    <SyncOn t="button">Sync On</SyncOn>
    <SyncOff t="button">Sync Off</SyncOff>
  </Tracklog>
  <search/>
</Control>

<Feature>
  <fmt>{{Feature_ID}} {{author}} {{Feature_Type}}</fmt>
  <Feature>
    <CHECK_FOR_MISSING_DATA t="button" c="orange"/>
    <Feature_ID f="autonum noannotation nocertainty notnull">
      <!--Styled using @POSTPROC-->
    </Feature_ID>
    <cols>
      <author/>
      <timestamp/>
    </cols>
    <Attach_Photo t="camera"/>
    <gps/>
    <Feature_Type f="notnull">
      <desc>Select the appropriate feature type</desc>
      <opts>
        <opt>Modified stone</opt>
        <opt>Artefact scatter</opt>
        <opt>Metal feature</opt>
        <opt>Fire dog</opt>
        <opt>Hearth</opt>
        <opt>Unknown</opt>
      </opts>
    </Feature_Type>
    <Description/>
    <Photo_of_Sketch t="camera"/>
    <Length_m b="decimal">
      Length (m)
      <desc>Measure the length in metres</desc>
    </Length_m>
    <Width_m b="decimal">
      Width (m)
      <desc>Measure the width in metres</desc>
    </Width_m>
    <Height_m b="decimal">
      Height (m)
      <desc>Measure the height in metres</desc>
    </Height_m>
    <Other_Dimension_Annotation b="decimal">Other Dimension &gt; Annotation</Other_Dimension_Annotation>
    <Feature_Identification_Certainty t="radio" f="notnull">
      <opts>
        <opt>Feature certain</opt>
        <opt>Feature uncertain</opt>
        <opt>Investigation recommended</opt>
      </opts>
    </Feature_Identification_Certainty>
    <Recommendation t="radio">
      <desc>Select relevant recommendation</desc>
      <opts>
        <opt>Option 1</opt>
        <opt>Option 2</opt>
        <opt>Option 3</opt>
      </opts>
    </Recommendation>
    <Tag_Name/>
  </Feature>
  <Associated_Material>
    <Associated_Feature_Type t="checkbox">
      <opts>
        <opt>Artefact scatter</opt>
        <opt>Metal feature or implement</opt>
        <opt>Hearth</opt>
        <opt>Masonry or Stone Circle</opt>
        <opt>Other</opt>
      </opts>
    </Associated_Feature_Type>
    <Associated_Material t="checkbox">
      <opts>
        <opt>Ceramic</opt>
        <opt>Glass</opt>
        <opt>Metal</opt>
        <opt>Stone</opt>
        <opt>Organic</opt>
        <opt>Other</opt>
      </opts>
    </Associated_Material>
    <Asociated_Material_Notes/>
    <Picture_of_Associated_Material t="camera"/>
  </Associated_Material>
  <External_Photos>
    <IDs_of_Pictures_from_External_Camera/>
    <External_Photo_Notes/>
  </External_Photos>
</Feature>

<Photolog>
  <fmt>{{Photographed_Feature_ID}}</fmt>
  <Photolog>
    <Photographed_Feature_ID f="notnull"/>
    <IDs_of_Picture_from_External_Camera/>
    <External_Photo_Notes f="notnull"/>
    <timestamp>Created at</timestamp>
  </Photolog>
</Photolog>

<Tracklog f="noui">
  <fmt>{{TracklogTeam}} {{Timestamp}}</fmt>
  <Tracklog>
    <Timestamp/>
    <TracklogTeam/>
    <Latitude/>
    <Longitude/>
    <Heading/>
    <Accuracy/>
  </Tracklog>
</Tracklog>

<Transect_Point f="noui">
  <fmt>{{TracklogTeam}} {{Timestamp}}</fmt>
  <Transect_Point>
    <Timestamp/>
    <TracklogTeam/>
    <State/>
    <Latitude/>
    <Longitude/>
    <Heading/>
    <Accuracy/>
  </Transect_Point>
</Transect_Point>

<logic><![CDATA[
<!--@SOURCE: logic/shared.bsh-->
<!--@SOURCE: logic/custom-search.bsh-->
<!--@SOURCE: logic/validation-button.bsh-->
<!--@SOURCE: logic/tracklog.bsh-->
<!--@SOURCE: logic/sync-disable.bsh-->
]]></logic>

</module>
